<% Sidealert.all.reverse_each do |s|%>
  <div class="<%=s.color%>" role="alert" style="margin-right:30px">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%=s.content%>
  </div>
<%end%>



<% if current_user.email == "admin@ptu.ac.kr"%>
<div style="margin-right:30px">
  <a href="/freeboard/upload" class="btn btn-default btn-block" >공지사항 작성하기</a>
  <br>
  <a href="/freeboard/upload" class="btn btn-default btn-block" >강의실 검색</a>
</div>
<% else%>
  
  <div class="alert alert-danger alert-dismissible" role="alert" style="margin-right:30px">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
     혹시 조건에 맞는 강의실을 찾고싶으세요?<br><br>
     <a href="/book/searching?searching_scale=0&searching_building=선택안함"><button type="button" class="btn btn-default">강의실 검색 바로가기</button></a>
  </div>
  
  
  <div class="alert alert-warning" role="alert" style="margin-right:30px">
    강의실 예약 전 <strong>공지사항을 꼭 읽어주세요!</strong><br><br>
    <a href="/freeboard/freeboards"><button type="button" class="btn btn-default">공지사항 바로가기</button></a>
  
  </div>
<%end%>