<div class="well">
  <center><strong><%=@building.name%></strong>에 대한 강의실 정보입니다.</center>
</div>

<center>
<% @class_list.each do |c| %>
<!--층별로 나눠주는 코드 작성할것 -->
 
    <a href="/book/view_booking?id=<%=c.id%>&show_date=<%=Time.zone.today%>" class="btn btn-default" style="margin-bottom:10px"><%=c.room_number%>호</a> 

<%end%>
</center>
