
<div class="well" id="menu_font" style="font-size: 20px;" >
  <center>
  <p> 만든 사람들 입니다. </p>
  </center>
</div>

<div class = "container">
<div class="row">
  
  <div class="col-md-4">
    <div class="thumbnail"> 
      <img src="http://foto-chohyejin.c9.io/img/g.png" width = "242px" height = "200px" alt="...">
      <div class="caption">
      <center>
        <h3>김길동</h3>
        <p>평택대학교 </p>
        <p>정보통신학과 123456789</p>
        <p> 한마디 : 팟팅!</p>
        <p><a href="#" class="btn btn-primary" role="button">SNS</a> <a href="#" class="btn btn-default" role="button">Email</a></p>
      </center>
      </div>
    </div>
  </div>
  
    <div class="col-md-4">
    <div class="thumbnail"> 
      <img src="http://foto-chohyejin.c9.io/img/g.png" width = "242px" height = "200px" alt="...">
      <div class="caption">
      <center>
        <h3>김길동</h3>
        <p>평택대학교 </p>
        <p>정보통신학과 123456789</p>
        <p> 한마디 : 팟팅!</p>
        <p><a href="#" class="btn btn-primary" role="button">SNS</a> <a href="#" class="btn btn-default" role="button">Email</a></p>
      </center>
      </div>
    </div>
  </div>
  
    <div class="col-md-4">
    <div class="thumbnail"> 
      <img src="http://foto-chohyejin.c9.io/img/g.png" width = "242px" height = "200px" alt="...">
      <div class="caption">
      <center>
        <h3>김길동</h3>
        <p>평택대학교 </p>
        <p>정보통신학과 123456789</p>
        <p> 한마디 : 팟팅!</p>
        <p><a href="#" class="btn btn-primary" role="button">SNS</a> <a href="#" class="btn btn-default" role="button">Email</a></p>
      </center>
      </div>
    </div>
  </div>
  
    <div class="col-md-4">
    <div class="thumbnail"> 
      <img src="http://foto-chohyejin.c9.io/img/g.png" width = "242px" height = "200px" alt="...">
      <div class="caption">
      <center>
        <h3>김길동</h3>
        <p>평택대학교 </p>
        <p>정보통신학과 123456789</p>
        <p> 한마디 : 팟팅!</p>
        <p><a href="#" class="btn btn-primary" role="button">SNS</a> <a href="#" class="btn btn-default" role="button">Email</a></p>
      </center>
      </div>
    </div>
  </div>
  
    <div class="col-md-4">
    <div class="thumbnail"> 
      <img src="http://foto-chohyejin.c9.io/img/g.png" width = "242px" height = "200px" alt="...">
      <div class="caption">
      <center>
        <h3>김길동</h3>
        <p>평택대학교 </p>
        <p>정보통신학과 123456789</p>
        <p> 한마디 : 팟팅!</p>
        <p><a href="#" class="btn btn-primary" role="button">SNS</a> <a href="#" class="btn btn-default" role="button">Email</a></p>
      </center>
      </div>
    </div>
  </div>
  
    <div class="col-md-4">
    <div class="thumbnail"> 
      <img src="http://foto-chohyejin.c9.io/img/g.png" width = "242px" height = "200px" alt="...">
      <div class="caption">
      <center>
        <h3>김길동</h3>
        <p>평택대학교 </p>
        <p>정보통신학과 123456789</p>
        <p> 한마디 : 팟팅!</p>
        <p><a href="#" class="btn btn-primary" role="button">SNS</a> <a href="#" class="btn btn-default" role="button">Email</a></p>
      </center>
      </div>
    </div>
  </div>
  

 
  
  
 
</div>
</div>
<br><br>